* {
    box-sizing: border-box;

}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.cg-1 {
    column-gap: 10px;
}

.cg-2 {
    column-gap: 20px;
}

.cg-3 {
    column-gap: 30px;
}

.cg-4 {
    column-gap: 40px;
}

.cg-5 {
    column-gap: 50px;
}

.cg-6 {
    column-gap: 60px;
}

.cg-7 {
    column-gap: 70px;
}

.cg-8 {
    column-gap: 80px;
}

.cg-9 {
    column-gap: 90px;
}

.rg-1 {
    row-gap: 10px;
}

.rg-2 {
    row-gap: 20px;
}

.rg-3 {
    row-gap: 30px;
}

.rg-4 {
    row-gap: 40px;
}

.rg-5 {
    row-gap: 50px;
}

.rg-6 {
    row-gap: 60px;
}

.rg-7 {
    row-gap: 70px;
}

.rg-8 {
    row-gap: 80px;
}

.rg-9 {
    row-gap: 90px;
}

/***
    line height
*/

.l-10 {
    line-height: 10px;
}

.l-15 {
    line-height: 15px;
}

.l-20 {
    line-height: 20px;
}

.l-25 {
    line-height: 25px;
}

.l-30 {
    line-height: 30px;
}

.l-35 {
    line-height: 35px;
}

.l-40 {
    line-height: 40px;
}

.l-45 {
    line-height: 45px;
}

.l-50 {
    line-height: 50px;
}

.l-55 {
    line-height: 55px;
}

.l-60 {
    line-height: 60px;
}

.l-65 {
    line-height: 65px;
}

.l-70 {
    line-height: 70px;
}

.l-75 {
    line-height: 75px;
}

.l-80 {
    line-height: 80px;
}

.l-85 {
    line-height: 85px;
}

.l-90 {
    line-height: 90px;
}

.l-95 {
    line-height: 95px;
}

.l-100 {
    line-height: 100px;
}

.bold {
    font-weight: bolder;
}

/**
    font size
*/

.f-10 {
    font-size: 10px;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-28 {
    font-size: 28px;
}

.f-32 {
    font-size: 32px;
}

.f-36 {
    font-size: 36px;
}

.f-40 {
    font-size: 40px;
}

.f-50 {
    font-size: 50px;
}

.h-1 {
    height: 10%;
}

.h-2 {
    height: 20%;
}

.h-3 {
    height: 30%;
}

.h-4 {
    height: 40%;
}

.h-5 {
    height: 50%;
}

.h-6 {
    height: 60%;
}

.h-7 {
    height: 70%;
}

.h-8 {
    height: 80%;
}

.h-9 {
    height: 90%;
}

.h-10 {
    height: 100%;
}

.w-1 {
    width: 10%;
}

.w-2 {
    width: 20%;
}

.w-3 {
    width: 30%;
}

.w-4 {
    width: 40%;
}

.w-5 {
    width: 50%;
}

.w-6 {
    width: 60%;
}

.w-7 {
    width: 70%;
}

.w-8 {
    width: 80%;
}

.w-9 {
    width: 90%;
}

.w-10 {
    width: 100%;
}

/**
* padding (px)
*/

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-5 {
    padding: 50px;
}

.p-6 {
    padding: 60px;
}

.p-7 {
    padding: 70px;
}

.p-8 {
    padding: 80px;
}

.p-9 {
    padding: 90px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 {
    padding-top: 50px;
}

.pt-6 {
    padding-top: 60px;
}

.pt-7 {
    padding-top: 70px;
}

.pt-8 {
    padding-top: 80px;
}

.pt-9 {
    padding-top: 90px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pb-6 {
    padding-bottom: 60px;
}

.pb-7 {
    padding-bottom: 70px;
}

.pb-8 {
    padding-bottom: 80px;
}

.pb-9 {
    padding-bottom: 90px;
}

.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 40px;
}

.pl-5 {
    padding-left: 50px;
}

.pl-6 {
    padding-left: 60px;
}

.pl-7 {
    padding-left: 70px;
}

.pl-8 {
    padding-left: 80px;
}

.pl-9 {
    padding-left: 90px;
}

.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 40px;
}

.pr-5 {
    padding-right: 50px;
}

.pr-6 {
    padding-right: 60px;
}

.pr-7 {
    padding-right: 70px;
}

.pr-8 {
    padding-right: 80px;
}

.pr-9 {
    padding-right: 90px;
}

/**
* padding (%)
*/

.-p-1 {
    padding: 10%;
}

.-p-2 {
    padding: 20%;
}

.-p-3 {
    padding: 30%;
}

.-p-4 {
    padding: 40%;
}

.-p-5 {
    padding: 50%;
}

.-p-6 {
    padding: 60%;
}

.-p-7 {
    padding: 70%;
}

.-p-8 {
    padding: 80%;
}

.-p-9 {
    padding: 90%;
}

.-pt-1 {
    padding-top: 10%;
}

.-pt-2 {
    padding-top: 20%;
}

.-pt-3 {
    padding-top: 30%;
}

.-pt-4 {
    padding-top: 40%;
}

.-pt-5 {
    padding-top: 50%;
}

.-pt-6 {
    padding-top: 60%;
}

.-pt-7 {
    padding-top: 70%;
}

.-pt-8 {
    padding-top: 80%;
}

.-pt-9 {
    padding-top: 90%;
}

.-pb-1 {
    padding-bottom: 10%;
}

.-pb-2 {
    padding-bottom: 20%;
}

.-pb-3 {
    padding-bottom: 30%;
}

.-pb-4 {
    padding-bottom: 40%;
}

.-pb-5 {
    padding-bottom: 50%;
}

.-pb-6 {
    padding-bottom: 60%;
}

.-pb-7 {
    padding-bottom: 70%;
}

.-pb-8 {
    padding-bottom: 80%;
}

.-pb-9 {
    padding-bottom: 90%;
}

.-pl-1 {
    padding-left: 10%;
}

.-pl-2 {
    padding-left: 20%;
}

.-pl-3 {
    padding-left: 30%;
}

.-pl-4 {
    padding-left: 40%;
}

.-pl-5 {
    padding-left: 50%;
}

.-pl-6 {
    padding-left: 60%;
}

.-pl-7 {
    padding-left: 70%;
}

.-pl-8 {
    padding-left: 80%;
}

.-pl-9 {
    padding-left: 90%;
}

.-pr-1 {
    padding-right: 10%;
}

.-pr-2 {
    padding-right: 20%;
}

.-pr-3 {
    padding-right: 30%;
}

.-pr-4 {
    padding-right: 40%;
}

.-pr-5 {
    padding-right: 50%;
}

.-pr-6 {
    padding-right: 60%;
}

.-pr-7 {
    padding-right: 70%;
}

.-pr-8 {
    padding-right: 80%;
}

.-pr-9 {
    padding-right: 90%;
}

/**
* margin (px)
*/

.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}

.m-6 {
    margin: 60px;
}

.m-7 {
    margin: 70px;
}

.m-8 {
    margin: 80px;
}

.m-9 {
    margin: 90px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-6 {
    margin-top: 60px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-9 {
    margin-top: 90px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-9 {
    margin-bottom: 90px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-6 {
    margin-left: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-9 {
    margin-left: 90px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-9 {
    margin-right: 90px;
}

/**
* margin (%)
*/

.-m-1 {
    margin: 10%;
}

.-m-2 {
    margin: 20%;
}

.-m-3 {
    margin: 30%;
}

.-m-4 {
    margin: 40%;
}

.-m-5 {
    margin: 50%;
}

.-m-6 {
    margin: 60%;
}

.-m-7 {
    margin: 70%;
}

.-m-8 {
    margin: 80%;
}

.-m-9 {
    margin: 90%;
}

.-mt-1 {
    margin-top: 10%;
}

.-mt-2 {
    margin-top: 20%;
}

.-mt-3 {
    margin-top: 30%;
}

.-mt-4 {
    margin-top: 40%;
}

.-mt-5 {
    margin-top: 50%;
}

.-mt-6 {
    margin-top: 60%;
}

.-mt-7 {
    margin-top: 70%;
}

.-mt-8 {
    margin-top: 80%;
}

.-mt-9 {
    margin-top: 90%;
}

.-mb-1 {
    margin-bottom: 10%;
}

.-mb-2 {
    margin-bottom: 20%;
}

.-mb-3 {
    margin-bottom: 30%;
}

.-mb-4 {
    margin-bottom: 40%;
}

.-mb-5 {
    margin-bottom: 50%;
}

.-mb-6 {
    margin-bottom: 60%;
}

.-mb-7 {
    margin-bottom: 70%;
}

.-mb-8 {
    margin-bottom: 80%;
}

.-mb-9 {
    margin-bottom: 90%;
}

.-ml-1 {
    margin-left: 10%;
}

.-ml-2 {
    margin-left: 20%;
}

.-ml-3 {
    margin-left: 30%;
}

.-ml-4 {
    margin-left: 40%;
}

.-ml-5 {
    margin-left: 50%;
}

.-ml-6 {
    margin-left: 60%;
}

.-ml-7 {
    margin-left: 70%;
}

.-ml-8 {
    margin-left: 80%;
}

.-ml-9 {
    margin-left: 90%;
}

.-mr-1 {
    margin-right: 10%;
}

.-mr-2 {
    margin-right: 20%;
}

.-mr-3 {
    margin-right: 30%;
}

.-mr-4 {
    margin-right: 40%;
}

.-mr-5 {
    margin-right: 50%;
}

.-mr-6 {
    margin-right: 60%;
}

.-mr-7 {
    margin-right: 70%;
}

.-mr-8 {
    margin-right: 80%;
}

.-mr-9 {
    margin-right: 90%;
}

.flex1 {
    flex: 1;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.red {
    color: red;
}

.dark-blue {
    color: #7688C9;
}