.footer {
    padding: 2vw 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    img {
        width: 100px;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        align-items: center;
        justify-content: center;
    }
}