.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;

    .head-logo {
        height: 50px;
        cursor: pointer;
    }

    .wallet-adapter-button-trigger {
        background-color: transparent !important;
        font-family: monument;
        font-size: 13px;
        column-gap: 10px;
        min-width: fit-content;
    }

    .menu-item {
        font-size: 16px;
        color: grey;
        cursor: pointer;
        display: block;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .title {
        display: block;

        min-width: fit-content;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .menu {
        display: block;

        @media (max-width: 800px) {
            display: none;
        }
    }

}

.header-wrap {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 9999;
    background-color: #222222;
}

.MuiPaper-root.MuiPaper-elevation {
    background-color: black !important;
    color: white !important;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root {

    font-family: monument !important;

}