.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2vw;
    width: 100%;
    font-size: 20px;

    img {
        height: 50px;
        cursor: pointer;
    }

    .wallet-adapter-button-trigger {
        background-color: transparent !important;
        font-family: monument;
        font-size: 13px;
        column-gap: 10px;
    }

    .menu-item {
        font-size: 16px;
        color: grey;
        cursor: pointer;
        display: block;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .title {
        display: block;

        @media (max-width: 800px) {
            display: none;
        }
    }

    .menu {
        display: block;

        @media (max-width: 800px) {
            display: none;
        }
    }

}

.menu-reverse {
    display: none;

    @media (max-width: 800px) {
        display: block;
    }

    span {
        cursor: pointer;
        color: gray;

        &:hover {
            color: white;
        }
    }
}

.header-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: sticky;
    top: 0;
}