.main {
    padding: 1.5vw;
    padding-top: calc(1.5vw + 90px);

    .main-part {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        row-gap: 30px;

        @media (max-width: 750px) {
            flex-direction: column;
        }
    }

    .left {
        width: 65%;
        // padding: 2vw;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        // justify-content: center;

        @media (max-width: 750px) {
            width: 100%;
        }

        span {
            text-align: center;
        }
    }

    .right {
        // padding: 2vw;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        @media (max-width: 750px) {
            width: 100%;
        }

        span {
            text-align: center;
            font-size: 14px;
        }

        img {
            width: 40px;
        }

    }

    .panel.reroll {
        border-radius: 15px;
        background-color: #222222;
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        width: 100%;

        padding-left: 20px;
        padding-right: 20px;

        img {
            width: 150px;
        }
    }

    /**
        transform
    */

    .panel.transform {
        border-radius: 15px;
        background-color: #222222;
        padding-top: 30px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        align-items: flex-start;
        width: 100%;
        min-height: 300px;

        padding-left: 20px;
        padding-right: 20px;
    }

    .panel-right {
        border-radius: 15px;
        background-color: #222222;
        padding-top: 30px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
        width: 100%;
        min-height: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .selectedImg {
        width: 100px !important;
        border-radius: 7px;
        margin: 10px;
    }

    .nft-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 11px;
        color: grey;
        width: 150px;
        margin: 10px;
        box-shadow: 0px 0px 10px 2px white;
        border-radius: 10px;
        object-fit: fill;

        img {
            width: auto;
            height: auto;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .select {
            width: 100%;
            margin-top: 5%;
            background-color: grey;
            color: white;
            border-width: 0px;
            height: 40px;
            border-radius: 5px;
            font-family: monument !important;
        }

        .nft-col {
            display: flex;
            flex-direction: column;
            background-color: grey;
            color: white;
            border-radius: 5px;
            padding: 5px;
            margin-top: 10px;
        }
    }

    /**
    stake
    */
    .profile-button {
        // width: 100%;
        width: 200px;
        background-color: grey;
        color: white;
        border-width: 0px;
        border-radius: 10px;
        height: 35px;
        font-family: monument !important;
        // margin: 5%;
        margin-top: 20px;
        font-size: 10px;
    }

}

.edit-modal-container {
    font-family: monument;

    width: 700px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
    padding: 40px;
    border-radius: 20px;
    border: 0px solid white;


    &>div {
        width: 100%;
    }

    h2 {
        margin: 0px;
        padding: 0px;
    }

    .user-avatar {
        // padding: 15px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: black;
        width: 100px;
        height: 100px;
    }

    .address-btn {
        border-radius: 5px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: grey;
        color: white;
        font-size: 18px;
        font-family: 'monument';
    }

    .input {
        border-radius: 3px;
        background-color: rgb(61, 59, 59);
        color: white;
        padding: 10px 20px;
        box-shadow: unset;
        border: 1px grey solid;
        outline: none;
        width: 100%;
        font-family: 'monument';
    }


    .update {
        border-radius: 7px;
        background-color: rgba(66, 81, 216, 0.671);
        color: white;
        font-size: 18px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        font-family: 'monument';
    }

    .delete {
        // margin-top: 10px;
        border-radius: 7px;
        background-color: rgba(206, 53, 26, 0.473);
        color: white;
        font-size: 18px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        font-family: 'monument';
    }
}

.s-btn {
    height: 30px;
    font-size: 14px;
    width: 120px;
    background-color: red;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-family: monument;
}

.switch-button {
    border-radius: 10px !important;
    padding: 6px 16px;
    background: #808080;
    margin-right: 10px;
    border-width: 0px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: monument;
    font-size: 12px;
    font-weight: 600;
    height: 45px;
    line-height: 50px;
    max-width: 200px;
    justify-content: center;
}

.btn {
    height: 55px;
    width: 180px;
    font-size: 16px;
    background-color: red;
    border: 0px solid red;
    border-radius: 10px;
    color: white;
    font-family: monument;
}

.nft-img {
    width: 120px !important;
    height: 120px;
    border-radius: 7px;
}

.void {
    min-height: 150px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);

    video {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}

.mobile_disable {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.lore-btn {
    background-color: #242424;
    border: 0px solid white;
    border-radius: 8px;
    font-size: 16px;
    font-family: monument;
    color: white;
    padding: 10px 20px;
}

.lore {

    img {
        max-width: 1000px;
        width: 85%;
    }

    .mylogo {
        width: 100px;
    }
}

.music {

    .title {
        max-width: 450px;
        font-size: 40px;
    }

    .content {
        width: 500px;
        font-size: 20px;

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    .content1 {
        width: 80%;
        font-size: 14px;
        line-height: 25px;

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    .btn {
        background-color: #D92F86;
        border-radius: 15px;
        border: 0px solid white;
        color: #1A1A1A;
        font-size: 14px;
        height: 50px;
        width: 300px;
    }

    .left-one {
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    .parent {
        display: flex;
        flex-direction: row;
        gap: 50px;

        @media (max-width: 960px) {
            flex-direction: column;
        }
    }

    .right-one {

        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media (max-width: 960px) {
            width: 100%;
        }

        .ele1 {
            background-color: #242424;
            border-radius: 7px;
            border: 0px solid white;
            padding: 3vw;
            display: flex;
            row-gap: 20px;
            flex-direction: column;
        }

        .ele2 {
            background-color: #8E29BB;
            border-radius: 7px;
            border: 0px solid white;
            display: flex;
            flex-direction: column;
            padding: 2vw;
            row-gap: 20px;
            min-height: 150px;
            justify-content: center;
        }


    }

    .content2 {
        background-color: #242424;
        border: 0px solid white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 3vw;
        margin-top: 20px;

        div {
            font-size: 20px;
        }

        span {
            font-size: 12px;
            line-height: 20px;
        }
    }

}

.faq {

    .section {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 70%;

        .first {
            border-bottom: 1px solid grey;
        }

        span {
            font-size: 14px;
            line-height: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @media (max-width: 960px) {
            width: 95%;
        }

    }

    .section.last {
        border-bottom: 1px solid grey;
    }


}

.card {
    margin: 30px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 30px;
    border: 2px solid white;
    width: 200px;

    span {
        text-align: center;
    }

    .card-content {
        flex: 1;
        text-align: center;
    }
}

.logo1 {
    margin-top: 90px;
    width: 100px !important;
    margin-bottom: 30px;
}

.speaker-img {
    width: 35px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

    >button {
        flex: 1;
    }
}

.section-title {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 70%;

    @media (max-width: 767px) {
        gap: 20px;
        width: 100%;
    }

    span {
        display: inline-block;
        flex: 1;
        height: 2px;
        background: #FFFFFF;
    }
}