.main {
    padding: 1.5vw;
    padding-top: calc(1.5vw + 90px);

    .main-part {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        row-gap: 30px;

        @media (max-width: 750px) {
            flex-direction: column;
        }
    }

    .left {
        width: 65%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;

        @media (max-width: 750px) {
            width: 100%;
        }

        span {
            text-align: center;
        }
    }

    .right {

        padding: 2vw;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        @media (max-width: 750px) {
            width: 100%;
        }

        span {
            text-align: center;
            font-size: 14px;
        }

        img {
            width: 40px;
        }
    }

    .panel {
        border-radius: 15px;
        background-color: #222222;
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        width: 100%;

        padding-left: 20px;
        padding-right: 20px;

        img {
            width: 150px;
        }

    }
}

.s-btn {
    height: 30px;
    font-size: 14px;
    width: 120px;
    background-color: red;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-family: monument;
}

.btn {
    height: 90px;
    width: 250px;
    font-size: 25px;
    background-color: red;
    border: 0px solid red;
    border-radius: 10px;
    color: white;
    font-family: monument;
}

.nft-img {
    width: 120px !important;
    height: 120px;
}

.void {
    min-height: 150px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);

    video {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}

.mobile_disable {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}